*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    color: rgb(159, 20, 112);
}

header > h4 {
    color: white;
}

/*
h2 {
    font-size: 20px;
}

section {
    display: inline-block;
}

article { 
    width: 300px;  
    height: 300px;
    margin: 40px auto;
    border: dashed; 
    float: left;
    margin-left: 20px;
}

article.title-box {
    height: 60px;
    width: 180px;
    border: solid;
}
*/

/*
section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.row, .column, .layout, .glow, .gradients, .glow, .title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    border: dashed;
}
*/

body {
    background-color: rgb(19, 19, 23);
}

h2 {
    color: rgb(159, 20, 112);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main > section > article {
    border: dashed;
    border-color: white;
    border-width: 3px;
    height: 300px;
    width: 30%;
    margin-bottom: 20px;
    position: relative;
}

main > section > article  h2 {
    background-color: rgb(19, 19, 23);
    position: absolute;
    border: solid;
    display: flex;
    top: -15px;
    border-color: white;
    border-width: 3px;
    width: 250px;
    left: 20%;
}

main > section > article  h4 {
    color: white;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 10px;
}

main > section > article  p {
    color: white;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(159, 20, 112);
    border-radius: 8px;
    padding: 30px; 
}

footer {
    display: block;
    font-size: 20px;
    font-weight: bold; 
    text-align: center;
    margin-top: 50px;
    color: rgb(159, 20, 112);
}

@media screen and (max-width: 992px) {
    main > section > article {
       
        width: 45%;
        
    }
  }
  
@media screen and (max-width: 768px) {
    main > section > article {
      width: 80%;
    }
  }
 